html {
  box-sizing: border-box;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  font-family: 'PT Sans Narrow', sans-serif;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: .5rem;
  background-color: #bd027d;
}

nav ul {
  list-style-type: none;
  display: grid;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  text-decoration: none;
  font-family: Georgia, serif;
  color: #fff;
  border-radius: 3em;
  padding: .5em 1.5em .7em;
  border: 2px solid #960062;
}

nav li a:nth-child(1) {
  margin-right: 1em;
}

nav li a:nth-child(2) {
  margin-left: 1em;
}
